<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link href='/static/extra/font.txt' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/extra/cdn.js">

  
      <link rel="stylesheet" href="/static/css/style.css">

  
</head>

<body>
{{out}}

  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          
          <form action="/signup" method="post">
          {% csrf_token %}
          <div class="top-row">
            <div class="field-wrap">
              <label>
                1) First Name<span class="req">*</span>
              </label>
              <input name="ufname1" type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input name="ulname1" type="text" required autocomplete="off"/>
            </div>
          </div>
           <div class="top-row">
	           <div class="field-wrap">
              <label>
               2) First Name<span class="req">*</span>
              </label>
              <input name="ufname2" type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input name="ulname2" type="text" required autocomplete="off"/>
            </div>
           </div>

	    <div class="field-wrap">
              <label>
                Username<span class="req">*</span>
              </label>
              <input name="uname" type="text" required autocomplete="off"/>
        </div>



          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input name="uemail" type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input name="upwd" type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>

          </form>
          

        </div>
        
        <div id="login">   



            <div class="field-wrap">
            <label>
              Username <span class="req">*</span>
            </label>
            <input name="uname" type="text" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input name="upwd" type="password"required autocomplete="off"/>
          </div>
          

          
          <button class="button button-block"/>Get Started </button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src='/static/extra/jquery.min.js'></script>

  

    <script  src="/static/js/index.js"></script>




</body>

</html>
