<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inherit-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Leaderboard</title>
    <!-- Bootstrap Core CSS -->
	<link rel="shortcut icon" href="../static/image.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

<body >
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    
    CLASH QUESTION HUB
  </a>
		 <a href="/uploads" type="button" class="btn btn-primary my-2 my-sm-0" style="color:white;" >My Submissions</a>
		  <a href="/questionpage" type="button" class="btn btn-primary my-2 my-sm-0" style="color:white;" >Add Question</a>
		 
    <a href="/logout">  <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button> <a>
</nav>
<div class="container mb-5">
	  <div class="card my-3">
  <div class="card-header">
    <h5 style="text-align:center;">LeaderBoard</h5>
  </div>
  <div class="card-body">
  
  
   <div class="table-responsive-lg">
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">User Name</th>
      <th scope="col">Total MCQ's<br></th>
      
    </tr>
  </thead>
  <tbody>
    
	 {% for i in v %}
  
    <tr>
      <th scope="row">{{ i.rank }}</th>
      <td>{{ i.name }}</td>
      <td>{{ i.count }}</td>
      
    </tr>
	
	{% endfor %}
  
  </tbody>
  </table>
</div>



    
  </div>
</div>
</div>
	    <nav class="navbar fixed-bottom navbar-light bg-light" >
  
 <span class="navbar-brand" style="text-align:center;">Created by Clash Team 2k17</span>
</nav>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
